In [187]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lag_전세가비율.csv', encoding = 'cp949')
data_2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lag_매매가격.csv', encoding = 'cp949')
data_4 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/lag_전세가격지수.csv', encoding = 'cp949')
data_5 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/addrate.csv')
data_6 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/매매가격add.csv', encoding = 'cp949')

In [188]:
data_6

      주택유형별 지역별         시점       매매가격  Unnamed: 4
0        종합  전국  2006.02 월  62.147362         NaN
1        종합  전국  2006.03 월  62.546047         NaN
2        종합  전국  2006.04 월  63.060117         NaN
3        종합  전국  2006.05 월  63.644326         NaN
4        종합  전국  2006.06 월  63.965668         NaN
...     ...  ..        ...        ...         ...
31076  단독주택  제주  2012.01 월  85.442506         NaN
31077  단독주택  제주  2012.02 월  85.787422         NaN
31078  단독주택  제주  2012.03 월  85.891617         NaN
31079  단독주택  제주  2012.04 월  86.021173         NaN
31080  단독주택  제주  2012.05 월  86.086746         NaN

[31081 rows x 5 columns]

In [189]:
data_2

      주택유형별 지역별         시점        매매가격  Unnamed: 4
0        종합  전국  2012.06 월   84.204223         NaN
1        종합  전국  2012.07 월   83.980516         NaN
2        종합  전국  2012.08 월   83.744493         NaN
3        종합  전국  2012.09 월   83.547443         NaN
4        종합  전국  2012.10 월   83.388862         NaN
...     ...  ..        ...         ...         ...
68869  단독주택  제주  2022.10 월  102.680745         NaN
68870  단독주택  제주  2022.11 월  102.616120         NaN
68871  단독주택  제주  2022.12 월  102.541438         NaN
68872  단독주택  제주  2023.01 월  102.454760         NaN
68873  단독주택  제주  2023.02 월  102.370334         NaN

[68874 rows x 5 columns]

2006.02-2012.05

In [190]:
data_5 = data_5.set_index('시점')

In [191]:
data_5

                매매가격       전세가격       전세가율
시점
2005.09 월  61.042337  54.349237  67.688395
2005.10 월  61.192440  54.706188  67.871368
2005.11 월  61.254746  54.872853  67.963337
2005.12 월  61.388939  54.975298  67.939296
2006.01 월  61.577982  55.155788  67.936751
...              ...        ...        ...
2011.08 월  82.176554  77.461938  69.945047
2011.09 월  83.340454  78.586367  69.940797
2011.10 월  84.217556  79.476501  69.974636
2011.11 월  85.272321  80.482995  69.959960
2011.12 월  85.734260  80.808778  69.853938

[76 rows x 3 columns]

In [192]:
print(data.columns)
print(data_2.columns)
print(data_4.columns)

Index(['주택유형별', '지역별', '시점', '매매가격 대비 전세가격', 'Unnamed: 4'], dtype='object')
Index(['주택유형별', '지역별', '시점', '매매가격', 'Unnamed: 4'], dtype='object')
Index(['주택유형별', '지역별', '시점', '전세가격', 'Unnamed: 4'], dtype='object')

In [193]:
data['주택유형별'].unique()

array(['종합', '아파트', '연립다세대', '단독주택'], dtype=object)

In [194]:
data['지역별'].unique()

array(['전국', '수도권', '지방', '6대광역시', '5대광역시', '9개도', '8개도', '서울', '강북권역',
       '도심권', '동북권', '서북권', '강남권역', '서남권', '동남권', '경기', '경부1권', '경부2권',
       '서해안권', '동부1권', '동부2권', '경의권', '경원권', '인천', '부산', '중부산권', '동부산권',
       '서부산권', '대구', '광주', '대전', '울산', '세종', '강원', '충북', '충남', '전북', '전남',
       '경북', '경남', '제주', '종로', '중', '용산', '성동', '광진', '동대문', '중랑', '성북',
       '강북', '도봉', '노원', '은평', '서대문', '마포', '양천', '강서', '구로', '금천', '영등포',
       '동작', '관악', '서초', '강남', '송파', '강동', '과천', '안양', '만안', '동안', '성남',
       '수정', '중원', '분당', '군포', '의왕', '안성', '용인', '처인', '기흥', '수원', '장안',
       '권선', '팔달', '영통', '수지', '부천', '원미', '소사', '오정', '안산', '상록', '단원',
       '시흥', '광명', '화성', '오산', '평택', '남양주', '구리', '하남', '이천', '여주', '김포',
       '고양', '덕양', '일산동', '일산서', '파주', '포천', '동두천', '양주', '의정부', '동',
       '미추홀', '연수', '남동', '부평', '계양', '서', '영도', '부산진', '남', '연제', '수영',
       '해운대', '금정', '동래', '기장', '북', '사상', '사하', '수성', '달서', '달성', '광산',
       '유성', '대덕', '울주', '춘천', '원주', '강릉', '동해', '태백', '속초', '삼척', '청주',
       '상당', '서원', '흥덕', '청원', '구)청주', '구)상당', '구)흥덕', '충주', '제천', '구)청원',
       '음성', '천안', '동남', '서북', '공주', '보령', '아산', '서산', '논산', '계룡', '연기',
       '홍성', '예산', '당진', '전주', '완산', '덕진', '군산', '익산', '정읍', '남원', '김제',
       '목포', '여수', '순천', '나주', '광양', '무안', '경주', '구미', '포항', '김천', '안동',
       '영주', '영천', '상주', '문경', '경산', '칠곡', '창원', '의창', '성산', '마산합포',
       '마산회원', '진해', '진주', '통영', '사천', '김해', '밀양', '거제', '양산', '서귀포'],
      dtype=object)

In [195]:
#전세가율
data = data[data['지역별'] == '지방']
data = data[data['주택유형별'] == '단독주택']
#부동산 가격
data_2 = data_2[data_2['지역별'] == '지방']
data_2 = data_2[data_2['주택유형별'] == '단독주택']
#전세가격
data_4 = data_4[data_4['지역별'] == '지방']
data_4 = data_4[data_4['주택유형별'] == '단독주택']
#부동산 가격 add ver
data_6 = data_6[data_6['지역별'] == '지방']
data_6 = data_6[data_6['주택유형별'] == '단독주택']

In [196]:
seoul_data = data.set_index('시점')
seoul_price = data_2.set_index('시점')['매매가격']
seoul_rate = data_4.set_index('시점')['전세가격']
add_price = data_6.set_index('시점')['매매가격']

In [197]:
add_price

시점
2006.02 월    81.163608
2006.03 월    81.090977
2006.04 월    81.132114
2006.05 월    81.142028
2006.06 월    80.982747
               ...
2012.01 월    86.221854
2012.02 월    86.202959
2012.03 월    86.343460
2012.04 월    86.372241
2012.05 월    86.460880
Name: 매매가격, Length: 76, dtype: float64

In [198]:
add_result = data_5[['전세가율']]

In [199]:
add_result['매매가격'] = np.nan

In [200]:
add_result['매매가격'] = list(add_price)

In [201]:
add_result

                전세가율       매매가격
시점
2005.09 월  67.688395  81.163608
2005.10 월  67.871368  81.090977
2005.11 월  67.963337  81.132114
2005.12 월  67.939296  81.142028
2006.01 월  67.936751  80.982747
...              ...        ...
2011.08 월  69.945047  86.221854
2011.09 월  69.940797  86.202959
2011.10 월  69.974636  86.343460
2011.11 월  69.959960  86.372241
2011.12 월  69.853938  86.460880

[76 rows x 2 columns]

In [202]:
seoul_data.index

Index(['2012.01 월', '2012.02 월', '2012.03 월', '2012.04 월', '2012.05 월',
       '2012.06 월', '2012.07 월', '2012.08 월', '2012.09 월', '2012.10 월',
       ...
       '2021.12 월', '2022.01 월', '2022.02 월', '2022.03 월', '2022.04 월',
       '2022.05 월', '2022.06 월', '2022.07 월', '2022.08 월', '2022.09 월'],
      dtype='object', name='시점', length=129)

In [203]:
seoul_price.index

Index(['2012.06 월', '2012.07 월', '2012.08 월', '2012.09 월', '2012.10 월',
       '2012.11 월', '2012.12 월', '2013.01 월', '2013.02 월', '2013.03 월',
       ...
       '2022.05 월', '2022.06 월', '2022.07 월', '2022.08 월', '2022.09 월',
       '2022.10 월', '2022.11 월', '2022.12 월', '2023.01 월', '2023.02 월'],
      dtype='object', name='시점', length=129)

In [204]:
seoul_price.values

array([ 86.4612842 ,  86.47824697,  86.49393963,  86.54446587,
        86.55453491,  86.55727483,  86.58938911,  86.55885242,
        86.58121316,  86.63206502,  86.70053064,  86.76606267,
        86.80726994,  86.81977014,  86.7736902 ,  86.79961145,
        86.85001446,  86.88627822,  86.92515437,  86.92990541,
        86.88457946,  86.92962827,  86.96031011,  86.99521654,
        87.00332172,  86.9891896 ,  87.01831263,  87.07397178,
        87.11845359,  87.13149474,  87.1742684 ,  87.21849333,
        87.24918747,  87.32249665,  87.3352819 ,  87.40796407,
        87.48278679,  87.66141045,  87.78725045,  87.94028823,
        88.05642286,  88.19655305,  88.2761944 ,  88.36671005,
        88.39004195,  88.46097559,  88.5286504 ,  88.57446813,
        88.60368053,  88.63374543,  88.69077511,  88.73643688,
        88.80270526,  88.86496844,  89.00472886,  89.05472563,
        89.1292626 ,  89.23396007,  89.42941462,  89.69802461,
        89.92367563,  90.15901429,  90.46972762,  90.7685354 ,
        91.04754192,  91.2870724 ,  91.440459  ,  91.59094282,
        91.76496968,  91.93984176,  92.15653403,  92.38741958,
        92.61120902,  92.79831461,  93.03766909,  93.38313634,
        93.7125686 ,  94.16295833,  94.50892433,  94.66953516,
        94.85337104,  95.02147346,  95.24082357,  95.46292287,
        95.67280446,  95.87660066,  96.03604077,  96.19673737,
        96.31971703,  96.45285655,  96.61755531,  96.74568037,
        96.92112029,  97.06142181,  97.15639106,  97.25993786,
        97.41742858,  97.59434142,  97.8050368 ,  97.99891402,
        98.20085451,  98.39984196,  98.62964399,  98.83756369,
        99.0489104 ,  99.26334535,  99.49278084,  99.75481235,
       100.        , 100.2236129 , 100.4910792 , 100.7678837 ,
       100.979487  , 101.1602939 , 101.3215778 , 101.4935304 ,
       101.6651983 , 101.8507378 , 102.0596565 , 102.279441  ,
       102.4948177 , 102.6948702 , 102.8523499 , 102.9359301 ,
       102.9993427 , 102.921383  , 102.8249264 , 102.7335581 ,
       102.6472971 ])

In [205]:
seoul_data['매매가격'] = seoul_price.values

In [206]:
seoul_data

          주택유형별 지역별  매매가격 대비 전세가격  Unnamed: 4        매매가격
시점
2012.01 월  단독주택  지방     43.138757         NaN   86.461284
2012.02 월  단독주택  지방     43.138757         NaN   86.478247
2012.03 월  단독주택  지방     43.029546         NaN   86.493940
2012.04 월  단독주택  지방     43.048500         NaN   86.544466
2012.05 월  단독주택  지방     43.055028         NaN   86.554535
...         ...  ..           ...         ...         ...
2022.05 월  단독주택  지방     46.159722         NaN  102.999343
2022.06 월  단독주택  지방     46.121753         NaN  102.921383
2022.07 월  단독주택  지방     46.058553         NaN  102.824926
2022.08 월  단독주택  지방     45.993405         NaN  102.733558
2022.09 월  단독주택  지방     45.961240         NaN  102.647297

[129 rows x 5 columns]

In [207]:
result_seoul = pd.concat([seoul_data, seoul_rate], axis = 1)
result_seoul.drop(['Unnamed: 4'], axis = 1, inplace = True)
#axis=1 을 설정하면 '좌+우' 형태로 열(column)이 오른쪽 옆으로 늘어납니다.

In [208]:
result_seoul

          주택유형별 지역별  매매가격 대비 전세가격        매매가격        전세가격
시점
2012.01 월  단독주택  지방     43.138757   86.461284   97.286045
2012.02 월  단독주택  지방     43.138757   86.478247   97.319546
2012.03 월  단독주택  지방     43.029546   86.493940   97.103924
2012.04 월  단독주택  지방     43.048500   86.544466   97.195990
2012.05 월  단독주택  지방     43.055028   86.554535   97.294664
...         ...  ..           ...         ...         ...
2022.05 월  단독주택  지방     46.159722  102.999343  100.751198
2022.06 월  단독주택  지방     46.121753  102.921383  100.815985
2022.07 월  단독주택  지방     46.058553  102.824926  100.868495
2022.08 월  단독주택  지방     45.993405  102.733558  100.904282
2022.09 월  단독주택  지방     45.961240  102.647297  100.912500

[129 rows x 5 columns]

In [209]:
result_seoul.rename(columns = {'매매가격 대비 전세가격':'전세가율'}, inplace = True)

In [210]:
result_seoul['전세가율 증감률'] = np.nan

In [211]:
result_seoul['전세가격 증감률'] = np.nan

In [212]:
result_seoul['매매가격 증감률'] = np.nan

In [213]:
for i in range(1, len(result_seoul)):
  result_seoul['전세가율 증감률'][i] = 100* (result_seoul['전세가율'][i] - result_seoul['전세가율'][i-1])/result_seoul['전세가율'][i-1]
result_seoul['전세가율 증감률'][0] = 0

In [214]:
for i in range(1, len(result_seoul)):
  result_seoul['전세가격 증감률'][i] = 100* (result_seoul['전세가격'][i] - result_seoul['전세가격'][i-1])/result_seoul['전세가격'][i-1]
result_seoul['전세가격 증감률'][0] = 0

In [215]:
add_result

                전세가율       매매가격
시점
2005.09 월  67.688395  81.163608
2005.10 월  67.871368  81.090977
2005.11 월  67.963337  81.132114
2005.12 월  67.939296  81.142028
2006.01 월  67.936751  80.982747
...              ...        ...
2011.08 월  69.945047  86.221854
2011.09 월  69.940797  86.202959
2011.10 월  69.974636  86.343460
2011.11 월  69.959960  86.372241
2011.12 월  69.853938  86.460880

[76 rows x 2 columns]

In [216]:
add_result['매매가격 증감률'] = np.nan

In [217]:
for i in range(1, len(add_result)):
  add_result['매매가격 증감률'][i] = 100* (add_result['매매가격'][i] - add_result['매매가격'][i-1])/add_result['매매가격'][i-1]
add_result['매매가격 증감률'][0] = 0

In [218]:
add_result = add_result[['전세가율', '매매가격 증감률']]

In [219]:
for i in range(1, len(result_seoul)):
  result_seoul['매매가격 증감률'][i] = 100* (result_seoul['매매가격'][i] - result_seoul['매매가격'][i-1])/result_seoul['매매가격'][i-1]
result_seoul['매매가격 증감률'][0] = 0

In [220]:
result_seoul['상승하락'] = np.nan

In [221]:
add_result['상승하락'] = np.nan

In [222]:
for i in range(0, len(add_result)):
  if add_result['매매가격 증감률'][i] >= 0:
    add_result['상승하락'][i] = 1
  else:
    add_result['상승하락'][i] = 0

add_result

                전세가율  매매가격 증감률  상승하락
시점
2005.09 월  67.688395  0.000000   1.0
2005.10 월  67.871368 -0.089487   0.0
2005.11 월  67.963337  0.050730   1.0
2005.12 월  67.939296  0.012220   1.0
2006.01 월  67.936751 -0.196300   0.0
...              ...       ...   ...
2011.08 월  69.945047  0.211699   1.0
2011.09 월  69.940797 -0.021915   0.0
2011.10 월  69.974636  0.162990   1.0
2011.11 월  69.959960  0.033333   1.0
2011.12 월  69.853938  0.102624   1.0

[76 rows x 3 columns]

In [223]:
for i in range(0, len(result_seoul['매매가격'])):
  if result_seoul['매매가격 증감률'][i] >= 0:
    result_seoul['상승하락'][i] = 1
  else:
    result_seoul['상승하락'][i] = 0

result_seoul

,주택유형별,지역별,전세가율,매매가격,전세가격,전세가율 증감률,전세가격 증감률,매매가격 증감률,상승하락
시점,,,,,,,,,
2012.01 월,단독주택,지방,43.138757,86.461284,97.286045,0.000000,0.000000,0.000000,1.0
2012.02 월,단독주택,지방,43.138757,86.478247,97.319546,0.000000,0.034435,0.019619,1.0
2012.03 월,단독주택,지방,43.029546,86.493940,97.103924,-0.253162,-0.221560,0.018146,1.0
2012.04 월,단독주택,지방,43.048500,86.544466,97.195990,0.044048,0.094812,0.058416,1.0
2012.05 월,단독주택,지방,43.055028,86.554535,97.294664,0.015164,0.101521,0.011635,1.0
...,...,...,...,...,...,...,...,...,...
2022.05 월,단독주택,지방,46.159722,102.999343,100.751198,-0.133979,0.072175,0.061604,1.0
2022.06 월,단독주택,지방,46.121753,102.921383,100.815985,-0.082255,0.064303,-0.075690,0.0
2022.07 월,단독주택,지방,46.058553,102.824926,100.868495,-0.137027,0.052085,-0.093719,0.0
2022.08 월,단독주택,지방,45.993405,102.733558,100.904282,-0.141446,0.035479,-0.088858,0.0
2022.09 월,단독주택,지방,45.961240,102.647297,100.912500,-0.069934,0.008144,-0.083966,0.0

In [224]:
import numpy as np
from sklearn.model_selection import train_test_split

In [225]:
#전세가율과 매매가격 증감률
result_rate_price = result_seoul[['전세가율', '매매가격 증감률']]
result_rate_price

                전세가율  매매가격 증감률
시점
2012.01 월  43.138757  0.000000
2012.02 월  43.138757  0.019619
2012.03 월  43.029546  0.018146
2012.04 월  43.048500  0.058416
2012.05 월  43.055028  0.011635
...              ...       ...
2022.05 월  46.159722  0.061604
2022.06 월  46.121753 -0.075690
2022.07 월  46.058553 -0.093719
2022.08 월  45.993405 -0.088858
2022.09 월  45.961240 -0.083966

[129 rows x 2 columns]

In [226]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(result_rate_price['전세가율'], result_rate_price['매매가격 증감률'], test_size=0.2, random_state=123)

In [227]:
train_rate_price = result_rate_price.loc[result_rate_price['전세가율'].isin(list(X_train1)) & result_rate_price['매매가격 증감률'].isin(list(y_train1))]
test_rate_price = result_rate_price.loc[result_rate_price['전세가율'].isin(list(X_test1)) & result_rate_price['매매가격 증감률'].isin(list(y_test1))]

In [228]:
train_rate_price

                전세가율  매매가격 증감률
시점
2012.02 월  43.138757  0.019619
2012.03 월  43.029546  0.018146
2012.04 월  43.048500  0.058416
2012.07 월  43.073930  0.037102
2012.08 월  43.026670 -0.035266
...              ...       ...
2022.05 월  46.159722  0.061604
2022.06 월  46.121753 -0.075690
2022.07 월  46.058553 -0.093719
2022.08 월  45.993405 -0.088858
2022.09 월  45.961240 -0.083966

[103 rows x 2 columns]

In [229]:
#전세가격과 매매가격 데이터셋
result_data_price = result_seoul[['전세가격', '매매가격']]
result_data_price

                 전세가격        매매가격
시점
2012.01 월   97.286045   86.461284
2012.02 월   97.319546   86.478247
2012.03 월   97.103924   86.493940
2012.04 월   97.195990   86.544466
2012.05 월   97.294664   86.554535
...               ...         ...
2022.05 월  100.751198  102.999343
2022.06 월  100.815985  102.921383
2022.07 월  100.868495  102.824926
2022.08 월  100.904282  102.733558
2022.09 월  100.912500  102.647297

[129 rows x 2 columns]

In [230]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(result_data_price['전세가격'], result_data_price['매매가격'], test_size=0.2, random_state=123)

In [231]:
train_data_price = result_data_price.loc[result_data_price['전세가격'].isin(list(X_train2)) & result_data_price['매매가격'].isin(list(y_train2))]
test_data_price = result_data_price.loc[result_data_price['전세가격'].isin(list(X_test2)) & result_data_price['매매가격'].isin(list(y_test2))]

In [232]:
train_data_price

                 전세가격        매매가격
시점
2012.02 월   97.319546   86.478247
2012.03 월   97.103924   86.493940
2012.04 월   97.195990   86.544466
2012.07 월   97.314929   86.589389
2012.08 월   97.343348   86.558852
...               ...         ...
2022.05 월  100.751198  102.999343
2022.06 월  100.815985  102.921383
2022.07 월  100.868495  102.824926
2022.08 월  100.904282  102.733558
2022.09 월  100.912500  102.647297

[103 rows x 2 columns]

In [233]:
add_result

                전세가율  매매가격 증감률  상승하락
시점
2005.09 월  67.688395  0.000000   1.0
2005.10 월  67.871368 -0.089487   0.0
2005.11 월  67.963337  0.050730   1.0
2005.12 월  67.939296  0.012220   1.0
2006.01 월  67.936751 -0.196300   0.0
...              ...       ...   ...
2011.08 월  69.945047  0.211699   1.0
2011.09 월  69.940797 -0.021915   0.0
2011.10 월  69.974636  0.162990   1.0
2011.11 월  69.959960  0.033333   1.0
2011.12 월  69.853938  0.102624   1.0

[76 rows x 3 columns]

In [234]:
result_data_updown = result_seoul[['전세가격 증감률', '상승하락']]
result_data_updown

           전세가격 증감률  상승하락
시점
2012.01 월  0.000000   1.0
2012.02 월  0.034435   1.0
2012.03 월 -0.221560   1.0
2012.04 월  0.094812   1.0
2012.05 월  0.101521   1.0
...             ...   ...
2022.05 월  0.072175   1.0
2022.06 월  0.064303   0.0
2022.07 월  0.052085   0.0
2022.08 월  0.035479   0.0
2022.09 월  0.008144   0.0

[129 rows x 2 columns]

In [235]:
X_train3, X_test3, y_train3, y_test3 = train_test_split(result_data_updown['전세가격 증감률'], result_data_updown['상승하락'], test_size=0.2, random_state=123)

In [236]:
train_data_updown = result_data_updown.loc[result_data_updown['전세가격 증감률'].isin(list(X_train3)) & result_data_updown['상승하락'].isin(list(y_train3))]
test_data_updown = result_data_updown.loc[result_data_updown['전세가격 증감률'].isin(list(X_test3)) & result_data_updown['상승하락'].isin(list(y_test3))]

In [237]:
train_data_updown

           전세가격 증감률  상승하락
시점
2012.02 월  0.034435   1.0
2012.03 월 -0.221560   1.0
2012.04 월  0.094812   1.0
2012.07 월 -0.008070   1.0
2012.08 월  0.029203   0.0
...             ...   ...
2022.05 월  0.072175   1.0
2022.06 월  0.064303   0.0
2022.07 월  0.052085   0.0
2022.08 월  0.035479   0.0
2022.09 월  0.008144   0.0

[103 rows x 2 columns]

In [238]:
from sklearn.preprocessing import StandardScaler

# 변형 객체 생성
std_scaler = StandardScaler()

# 훈련데이터의 모수 분포 저장
std_scaler.fit(train_data_updown[['전세가격 증감률']])

# 훈련 데이터 스케일링
X_train3_scaled = std_scaler.transform(train_data_updown[['전세가격 증감률']])

# 테스트 데이터의 스케일링
X_test3_scaled = std_scaler.transform(test_data_updown[['전세가격 증감률']])

# 스케일링 된 결과 값으로 본래 값을 구할 수도 있다.
# X_origin = std_scaler.inverse_transform(X_train3_scaled)

In [239]:
X_train3

시점
2019.11 월   -0.025836
2018.11 월   -0.013590
2014.08 월   -0.008469
2015.07 월    0.111276
2013.08 월    0.012091
               ...
2020.03 월   -0.002837
2019.09 월   -0.025436
2017.07 월    0.047158
2022.07 월    0.052085
2021.02 월    0.037844
Name: 전세가격 증감률, Length: 103, dtype: float64

In [240]:
X_train3_scaled

array([[ 1.39734963e-01],
       [-5.23469837e+00],
       [ 1.40730839e+00],
       [-7.52622213e-01],
       [ 2.99039716e-02],
       [ 5.87360097e-01],
       [-3.13396739e-01],
       [ 1.33123116e+00],
       [ 2.92318784e-01],
       [ 3.33166079e-01],
       [ 1.77369180e+00],
       [-1.81282897e-01],
       [-6.68537215e-01],
       [-3.29360990e-01],
       [ 8.81353500e-01],
       [ 2.19364063e+00],
       [ 1.13475288e+00],
       [ 6.33452039e-01],
       [-6.85086715e-01],
       [ 4.58720690e-03],
       [-7.55126445e-01],
       [-2.26775845e+00],
       [-7.61004364e-01],
       [ 2.48890481e-01],
       [-5.10225240e-02],
       [-5.45313490e-02],
       [ 1.11233242e+00],
       [ 6.47243440e-01],
       [-5.39009486e-01],
       [ 2.57678169e-01],
       [ 1.09630307e+00],
       [ 1.75297166e+00],
       [ 1.35033107e+00],
       [ 1.57855784e+00],
       [ 1.32631807e+00],
       [ 1.91869866e+00],
       [ 6.64145981e-01],
       [ 1.25828468e+00],
       [-3.57851410e-01],
       [ 5.40651761e-01],
       [ 4.48275311e-01],
       [-2.33238926e-01],
       [-7.42828288e-01],
       [-3.25920899e-01],
       [-2.45981414e-01],
       [ 2.10329504e-01],
       [ 5.56354242e-03],
       [-2.32697873e-01],
       [-2.26962990e-01],
       [ 7.90086715e-01],
       [ 4.06847893e-01],
       [ 9.48157262e-02],
       [ 2.69764305e-01],
       [ 4.28736593e-01],
       [-8.74601528e-02],
       [-1.67040402e-01],
       [-1.48286093e-01],
       [-4.54193413e-01],
       [-3.96225297e-01],
       [-6.47840599e-01],
       [-1.07803164e+00],
       [-1.12793809e+00],
       [-1.35890357e+00],
       [-1.05514504e+00],
       [-8.68507155e-01],
       [-8.79096074e-01],
       [-9.92964562e-01],
       [-8.43901487e-01],
       [-9.84660240e-01],
       [-1.01649717e+00],
       [-9.62227595e-01],
       [-1.63150838e+00],
       [-1.11721306e+00],
       [-1.43726243e+00],
       [-1.12560781e+00],
       [-6.39401762e-01],
       [-8.28667767e-01],
       [-8.16811570e-01],
       [-6.42757450e-01],
       [-4.70530494e-01],
       [-5.80005883e-01],
       [-7.50844126e-02],
       [-3.20764642e-01],
       [ 3.90152114e-03],
       [ 4.47084346e-02],
       [ 1.77319880e-01],
       [ 2.11303942e-01],
       [ 1.12144883e-01],
       [ 3.26030618e-01],
       [ 4.24462246e-01],
       [ 1.10539538e+00],
       [ 1.17705869e+00],
       [ 1.24681196e+00],
       [ 1.04490750e+00],
       [ 9.81183615e-01],
       [ 3.64871307e-01],
       [ 5.57006917e-01],
       [ 8.28395592e-01],
       [ 9.32063619e-01],
       [ 7.66808675e-01],
       [ 5.10303042e-01],
       [ 1.61666768e-01],
       [-4.12219200e-01]])

In [241]:
train_data_updown

           전세가격 증감률  상승하락
시점
2012.02 월  0.034435   1.0
2012.03 월 -0.221560   1.0
2012.04 월  0.094812   1.0
2012.07 월 -0.008070   1.0
2012.08 월  0.029203   0.0
...             ...   ...
2022.05 월  0.072175   1.0
2022.06 월  0.064303   0.0
2022.07 월  0.052085   0.0
2022.08 월  0.035479   0.0
2022.09 월  0.008144   0.0

[103 rows x 2 columns]

In [242]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state = 42)
model.fit(train_data_updown[['전세가격 증감률']], train_data_updown[['상승하락']])
score = model.score(test_data_updown[['전세가격 증감률']], test_data_updown[['상승하락']])
score

0.8846153846153846

In [243]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state = 42)
model.fit(X_train3_scaled, train_data_updown[['상승하락']])
score = model.score(X_test3_scaled, test_data_updown[['상승하락']])
score

0.8846153846153846

In [244]:
from sklearn.neighbors import KNeighborsClassifier

model_2 = KNeighborsClassifier(n_neighbors=8)
model_2.fit(train_data_updown[['전세가격 증감률']], train_data_updown[['상승하락']])
score = model_2.score(test_data_updown[['전세가격 증감률']], test_data_updown[['상승하락']])
score

1.0

In [245]:
result_rate_ud = add_result[['전세가율', '상승하락']]

In [246]:
result_rate_ud

                전세가율  상승하락
시점
2005.09 월  67.688395   1.0
2005.10 월  67.871368   0.0
2005.11 월  67.963337   1.0
2005.12 월  67.939296   1.0
2006.01 월  67.936751   0.0
...              ...   ...
2011.08 월  69.945047   1.0
2011.09 월  69.940797   0.0
2011.10 월  69.974636   1.0
2011.11 월  69.959960   1.0
2011.12 월  69.853938   1.0

[76 rows x 2 columns]

In [247]:
new_result = pd.concat([result_rate_ud, result_rate_updown], axis = 0)
new_result

                전세가율  상승하락
시점
2005.09 월  67.688395   1.0
2005.10 월  67.871368   0.0
2005.11 월  67.963337   1.0
2005.12 월  67.939296   1.0
2006.01 월  67.936751   0.0
...              ...   ...
2022.05 월  46.159722   1.0
2022.06 월  46.121753   0.0
2022.07 월  46.058553   0.0
2022.08 월  45.993405   0.0
2022.09 월  45.961240   0.0

[205 rows x 2 columns]

In [248]:
result_rate_updown = result_seoul[['전세가율', '상승하락']]
result_rate_updown

                전세가율  상승하락
시점
2012.01 월  43.138757   1.0
2012.02 월  43.138757   1.0
2012.03 월  43.029546   1.0
2012.04 월  43.048500   1.0
2012.05 월  43.055028   1.0
...              ...   ...
2022.05 월  46.159722   1.0
2022.06 월  46.121753   0.0
2022.07 월  46.058553   0.0
2022.08 월  45.993405   0.0
2022.09 월  45.961240   0.0

[129 rows x 2 columns]

In [249]:
result_rate_updown['상승하락']

시점
2012.01 월    1.0
2012.02 월    1.0
2012.03 월    1.0
2012.04 월    1.0
2012.05 월    1.0
            ...
2022.05 월    1.0
2022.06 월    0.0
2022.07 월    0.0
2022.08 월    0.0
2022.09 월    0.0
Name: 상승하락, Length: 129, dtype: float64

In [250]:
X_train4, X_test4, y_train4, y_test4 = train_test_split(result_rate_updown['전세가율'], result_rate_updown['상승하락'], test_size=0.2, random_state=123)

In [251]:
X_train5, X_test5, y_train5, y_test5 = train_test_split(new_result['전세가율'], new_result['상승하락'], test_size=0.2, random_state=123)

In [252]:
y_test4

시점
2012.05 월    1.0
2020.04 월    1.0
2019.08 월    1.0
2021.12 월    1.0
2017.12 월    1.0
2014.10 월    1.0
2022.01 월    1.0
2014.01 월    1.0
2017.03 월    1.0
2019.06 월    1.0
2013.05 월    1.0
2015.03 월    1.0
2014.06 월    1.0
2012.09 월    1.0
2012.06 월    1.0
2012.01 월    1.0
2013.02 월    1.0
2018.10 월    1.0
2016.06 월    1.0
2017.06 월    1.0
2016.12 월    1.0
2017.04 월    1.0
2020.12 월    1.0
2021.05 월    1.0
2020.05 월    1.0
2014.05 월    1.0
Name: 상승하락, dtype: float64

In [253]:
train_rate_updown= result_rate_updown.loc[result_rate_updown['전세가율'].isin(list(X_train4)) & result_rate_updown['상승하락'].isin(list(y_train4))]
test_rate_updown = result_rate_updown.loc[result_rate_updown['전세가율'].isin(list(X_test4)) & result_rate_updown['상승하락'].isin(list(y_test4))]

In [254]:
train_rate_updown2= new_result.loc[new_result['전세가율'].isin(list(X_train5)) & new_result['상승하락'].isin(list(y_train5))]
test_rate_updown2 = new_result.loc[new_result['전세가율'].isin(list(X_test5)) & new_result['상승하락'].isin(list(y_test5))]

In [255]:
train_rate_updown2
#Linear Regression을 통해 늘린 데이터셋

                전세가율  상승하락
시점
2005.09 월  67.688395   1.0
2005.10 월  67.871368   0.0
2005.11 월  67.963337   1.0
2005.12 월  67.939296   1.0
2006.02 월  67.961608   0.0
...              ...   ...
2022.05 월  46.159722   1.0
2022.06 월  46.121753   0.0
2022.07 월  46.058553   0.0
2022.08 월  45.993405   0.0
2022.09 월  45.961240   0.0

[164 rows x 2 columns]

In [256]:
len(test_rate_updown2)

41

In [257]:
result_rate_updown

                전세가율  상승하락
시점
2012.01 월  43.138757   1.0
2012.02 월  43.138757   1.0
2012.03 월  43.029546   1.0
2012.04 월  43.048500   1.0
2012.05 월  43.055028   1.0
...              ...   ...
2022.05 월  46.159722   1.0
2022.06 월  46.121753   0.0
2022.07 월  46.058553   0.0
2022.08 월  45.993405   0.0
2022.09 월  45.961240   0.0

[129 rows x 2 columns]

In [258]:
result_rate_updown.to_csv("deeplearningrate.csv", index = False)

In [259]:
test_rate_updown

                전세가율  상승하락
시점
2012.01 월  43.138757   1.0
2012.02 월  43.138757   1.0
2012.05 월  43.055028   1.0
2012.06 월  43.046184   1.0
2012.09 월  42.958949   1.0
2013.02 월  42.711328   1.0
2013.05 월  42.774073   1.0
2014.01 월  42.929665   1.0
2014.05 월  42.950873   1.0
2014.06 월  42.949955   1.0
2014.10 월  42.990879   1.0
2015.03 월  42.992366   1.0
2016.06 월  47.162194   1.0
2016.12 월  47.224470   1.0
2017.03 월  47.195099   1.0
2017.04 월  47.138702   1.0
2017.06 월  46.932493   1.0
2017.12 월  49.153151   1.0
2018.10 월  47.956298   1.0
2019.06 월  47.027059   1.0
2019.08 월  46.816205   1.0
2020.04 월  46.268884   1.0
2020.05 월  46.217858   1.0
2020.12 월  45.688811   1.0
2021.05 월  45.255378   1.0
2021.12 월  46.455735   1.0
2022.01 월  46.402969   1.0

In [260]:
test_rate_updown.to_csv('deeplearningtest.csv')

In [261]:
result_rate_updown[['상승하락']].isnull().sum()

상승하락    0
dtype: int64

In [262]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state = 42)
model.fit(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
score = model.score(test_rate_updown[['전세가율']], test_rate_updown[['상승하락']])
score

0.9629629629629629

In [263]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state = 42)
model.fit(train_rate_updown2[['전세가율']], train_rate_updown2[['상승하락']])
left1 = model.score(test_rate_updown2[['전세가율']], test_rate_updown2[['상승하락']])
left1

0.7804878048780488

In [264]:
from sklearn.neighbors import KNeighborsClassifier

model_2 = KNeighborsClassifier()
model_2.fit(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
score = model_2.score(test_rate_updown[['전세가율']], test_rate_updown[['상승하락']])
score

1.0

In [265]:
#늘린 데이터셋으로 Classify
from sklearn.neighbors import KNeighborsClassifier

model_2 = KNeighborsClassifier()
model_2.fit(train_rate_updown2[['전세가율']], train_rate_updown2[['상승하락']])
score = model_2.score(test_rate_updown2[['전세가율']], test_rate_updown2[['상승하락']])
left2 = score
left2

0.8536585365853658

In [266]:
print('KNN_classifier: effect of n_neighbors')

for n in [1,2,3,4,5,6,7,8,9,10,15,20]:
  knn_c = KNeighborsClassifier(n_neighbors = n)
  knn_c.fit(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
  train_score = knn_c.score(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
  test_score = knn_c.score(test_rate_updown[['전세가율']], test_rate_updown[['상승하락']])
  print('n_neighbor = {:.2f}, r-squared training: {:.2f}, \
r-squared test: {:.2f}\n'
         .format(n, train_score, test_score))

KNN_classifier: effect of n_neighbors
n_neighbor = 1.00, r-squared training: 1.00, r-squared test: 0.96

n_neighbor = 2.00, r-squared training: 0.93, r-squared test: 0.89

n_neighbor = 3.00, r-squared training: 0.92, r-squared test: 1.00

n_neighbor = 4.00, r-squared training: 0.92, r-squared test: 1.00

n_neighbor = 5.00, r-squared training: 0.93, r-squared test: 1.00

n_neighbor = 6.00, r-squared training: 0.93, r-squared test: 1.00

n_neighbor = 7.00, r-squared training: 0.93, r-squared test: 1.00

n_neighbor = 8.00, r-squared training: 0.93, r-squared test: 1.00

n_neighbor = 9.00, r-squared training: 0.92, r-squared test: 1.00

n_neighbor = 10.00, r-squared training: 0.92, r-squared test: 1.00

n_neighbor = 15.00, r-squared training: 0.92, r-squared test: 1.00

n_neighbor = 20.00, r-squared training: 0.92, r-squared test: 1.00

In [267]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
clf.score(test_rate_updown[['전세가율']], test_rate_updown[['상승하락']])

1.0

In [268]:
#늘린 데이터셋으로 Classify
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(train_rate_updown2[['전세가율']], train_rate_updown2[['상승하락']])
left3 = clf.score(test_rate_updown2[['전세가율']], test_rate_updown2[['상승하락']])
left3

0.926829268292683

In [269]:
print('Logistic Regression: effect of C-prarameter')

for c in [0.1, 1, 10, 100]:
  lrr = LogisticRegression(C = c)
  lrr.fit(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
  train_score = lrr.score(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
  test_score = lrr.score(test_rate_updown[['전세가율']], test_rate_updown[['상승하락']])
  print('c = {:.2f}, r-squared training: {:.2f}, \
r-squared test: {:.2f}\n'
         .format(c, train_score, test_score))

Logistic Regression: effect of C-prarameter
c = 0.10, r-squared training: 0.92, r-squared test: 1.00

c = 1.00, r-squared training: 0.92, r-squared test: 1.00

c = 10.00, r-squared training: 0.92, r-squared test: 1.00

c = 100.00, r-squared training: 0.92, r-squared test: 1.00

In [270]:
#늘린 데이터셋으로 Classify
print('Logistic Regression: effect of C-prarameter')

for c in [0.1, 1, 10, 100]:
  lrr = LogisticRegression(C = c)
  lrr.fit(train_rate_updown2[['전세가율']], train_rate_updown2[['상승하락']])
  train_score = lrr.score(train_rate_updown2[['전세가율']], train_rate_updown2[['상승하락']])
  test_score = lrr.score(test_rate_updown2[['전세가율']], test_rate_updown2[['상승하락']])
  print('c = {:.2f}, r-squared training: {:.2f}, \
r-squared test: {:.2f}\n'
         .format(c, train_score, test_score))

Logistic Regression: effect of C-prarameter
c = 0.10, r-squared training: 0.85, r-squared test: 0.93

c = 1.00, r-squared training: 0.85, r-squared test: 0.93

c = 10.00, r-squared training: 0.85, r-squared test: 0.93

c = 100.00, r-squared training: 0.85, r-squared test: 0.93

In [271]:
from sklearn.svm import LinearSVC

print('SVM Regression: effect of C-prarameter')

for c in [0.1, 1, 10, 100]:
  svc = LinearSVC(C = c)
  svc.fit(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
  train_score = svc.score(train_rate_updown[['전세가율']], train_rate_updown[['상승하락']])
  test_score = svc.score(test_rate_updown[['전세가율']], test_rate_updown[['상승하락']])
  print('c = {:.2f}, r-squared training: {:.2f}, \
r-squared test: {:.2f}\n'
         .format(c, train_score, test_score))

SVM Regression: effect of C-prarameter
c = 0.10, r-squared training: 0.92, r-squared test: 1.00

c = 1.00, r-squared training: 0.92, r-squared test: 1.00

c = 10.00, r-squared training: 0.92, r-squared test: 1.00

c = 100.00, r-squared training: 0.92, r-squared test: 1.00

In [272]:
#늘린 데이터셋으로 Classify
from sklearn.svm import LinearSVC

print('SVM Regression: effect of C-prarameter')

for c in [0.1, 1, 10, 100]:
  svc = LinearSVC(C = c)
  svc.fit(train_rate_updown2[['전세가율']], train_rate_updown2[['상승하락']])
  train_score = svc.score(train_rate_updown2[['전세가율']], train_rate_updown2[['상승하락']])
  test_score = svc.score(test_rate_updown2[['전세가율']], test_rate_updown2[['상승하락']])
  print('c = {:.2f}, r-squared training: {:.2f}, \
r-squared test: {:.2f}\n'
         .format(c, train_score, test_score))

SVM Regression: effect of C-prarameter
c = 0.10, r-squared training: 0.85, r-squared test: 0.93

c = 1.00, r-squared training: 0.85, r-squared test: 0.93

c = 10.00, r-squared training: 0.85, r-squared test: 0.93

c = 100.00, r-squared training: 0.85, r-squared test: 0.93

In [273]:
# 회귀 모델 - MinMaxScaling
# 분류 모델 - Standard Scaling

from sklearn.preprocessing import MinMaxScaler

# MinMaxScaler 선언 및 Fitting
mMscaler = MinMaxScaler()
mMscaler.fit(train_rate_price)

# 데이터 변환
scaled_rate_price = mMscaler.transform(train_rate_price)
scaled_rate_price_test = mMscaler.transform(test_rate_price)

# 데이터 프레임으로 저장
scaled_rate_price = pd.DataFrame(scaled_rate_price)
scaled_rate_price_test = pd.DataFrame(scaled_rate_price_test)

In [274]:
train_data_price

                 전세가격        매매가격
시점
2012.02 월   97.319546   86.478247
2012.03 월   97.103924   86.493940
2012.04 월   97.195990   86.544466
2012.07 월   97.314929   86.589389
2012.08 월   97.343348   86.558852
...               ...         ...
2022.05 월  100.751198  102.999343
2022.06 월  100.815985  102.921383
2022.07 월  100.868495  102.824926
2022.08 월  100.904282  102.733558
2022.09 월  100.912500  102.647297

[103 rows x 2 columns]

In [275]:
scaled_rate_price

            0         1
0    0.073035  0.197340
1    0.055993  0.194776
2    0.058950  0.264892
3    0.062919  0.227781
4    0.055544  0.101776
..        ...       ...
98   0.544438  0.270443
99   0.538513  0.031392
100  0.528651  0.000000
101  0.518485  0.008463
102  0.513466  0.016982

[103 rows x 2 columns]

In [276]:
train_data_price

                 전세가격        매매가격
시점
2012.02 월   97.319546   86.478247
2012.03 월   97.103924   86.493940
2012.04 월   97.195990   86.544466
2012.07 월   97.314929   86.589389
2012.08 월   97.343348   86.558852
...               ...         ...
2022.05 월  100.751198  102.999343
2022.06 월  100.815985  102.921383
2022.07 월  100.868495  102.824926
2022.08 월  100.904282  102.733558
2022.09 월  100.912500  102.647297

[103 rows x 2 columns]

In [277]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()

lr_model.fit(scaled_rate_price[[0]], scaled_rate_price[[1]])

score = lr_model.score(scaled_rate_price_test[[0]], scaled_rate_price_test[[1]])
print('선형회귀 모델 R2: {0:.2f}'.format(score))

선형회귀 모델 R2: 0.51

In [278]:
mMscaler_2 = MinMaxScaler()
mMscaler_2.fit(train_data_price)

# 데이터 변환
scaled_data_price = mMscaler_2.transform(train_data_price)
scaled_data_price_test = mMscaler_2.transform(test_data_price)

# 데이터 프레임으로 저장
scaled_data_price = pd.DataFrame(scaled_data_price)
scaled_data_price_test = pd.DataFrame(scaled_data_price_test)

In [279]:
from sklearn.linear_model import LinearRegression

lr_model_2 = LinearRegression()

lr_model_2.fit(scaled_data_price[[0]], scaled_data_price[[1]])

score = lr_model_2.score(scaled_data_price_test[[0]], scaled_data_price_test[[1]])
print('선형회귀 모델 R2: {0:.2f}'.format(score))

선형회귀 모델 R2: 0.66

In [280]:
from sklearn.linear_model import LinearRegression

lr_model_2 = LinearRegression()

lr_model_2.fit(train_data_price[['전세가격']], train_data_price[['매매가격']])

score = lr_model_2.score(test_data_price[['전세가격']], test_data_price[['매매가격']])
print('선형회귀 모델 R2: {0:.2f}'.format(score))

선형회귀 모델 R2: 0.66

In [281]:
from sklearn.linear_model import Ridge

linridge = Ridge(alpha=5.0).fit(train_data_price[['전세가격']], train_data_price[['매매가격']])

score = linridge.score(test_data_price[['전세가격']], test_data_price[['매매가격']])
print('Ridge 모델 R2: {0:.2f}'.format(score))

Ridge 모델 R2: 0.67

In [282]:
from sklearn.linear_model import Ridge

linridge = Ridge(alpha=5.0).fit(scaled_data_price[[0]], scaled_data_price[[1]])

score = linridge.score(scaled_data_price_test[[0]], scaled_data_price_test[[1]])
print('Ridge 모델 R2: {0:.2f}'.format(score))

Ridge 모델 R2: 0.58

In [283]:
print('Ridge regression: effect of alpha regularization parameter\n')
for this_alpha in [0, 1, 10, 20, 50, 100, 1000]:
    linridge2 = Ridge(alpha = this_alpha).fit(train_data_price[['전세가격']], train_data_price[['매매가격']])
    r2_train = linridge2.score(train_data_price[['전세가격']], train_data_price[['매매가격']])
    r2_test = linridge2.score(test_data_price[['전세가격']], test_data_price[['매매가격']])
    num_coeff_bigger = np.sum(abs(linridge.coef_) > 1.0)
    print('Alpha = {:.2f}\nnum abs(coeff) > 1.0: {}, \
r-squared training: {:.2f}, r-squared test: {:.2f}\n'
         .format(this_alpha, num_coeff_bigger, r2_train, r2_test))

Ridge regression: effect of alpha regularization parameter

Alpha = 0.00
num abs(coeff) > 1.0: 0, r-squared training: 0.68, r-squared test: 0.66

Alpha = 1.00
num abs(coeff) > 1.0: 0, r-squared training: 0.68, r-squared test: 0.66

Alpha = 10.00
num abs(coeff) > 1.0: 0, r-squared training: 0.68, r-squared test: 0.67

Alpha = 20.00
num abs(coeff) > 1.0: 0, r-squared training: 0.66, r-squared test: 0.67

Alpha = 50.00
num abs(coeff) > 1.0: 0, r-squared training: 0.61, r-squared test: 0.63

Alpha = 100.00
num abs(coeff) > 1.0: 0, r-squared training: 0.51, r-squared test: 0.54

Alpha = 1000.00
num abs(coeff) > 1.0: 0, r-squared training: 0.12, r-squared test: 0.10

In [284]:
from sklearn.linear_model import Lasso
print('Lasso regression: effect of alpha regularization\n\
parameter on number of features kept in final model\n')

for alpha in [0.5, 1, 2, 3, 5, 10, 20, 50]:
    linlasso = Lasso(alpha, max_iter = 10000).fit(train_data_price[['전세가격']], train_data_price[['매매가격']])
    r2_train = linlasso.score(train_data_price[['전세가격']], train_data_price[['매매가격']])
    r2_test = linlasso.score(test_data_price[['전세가격']], test_data_price[['매매가격']])
    
    print('Alpha = {:.2f}\nFeatures kept: {}, r-squared training: {:.2f}, \
r-squared test: {:.2f}\n'
         .format(alpha, np.sum(linlasso.coef_ != 0), r2_train, r2_test))

Lasso regression: effect of alpha regularization
parameter on number of features kept in final model

Alpha = 0.50
Features kept: 1, r-squared training: 0.67, r-squared test: 0.67

Alpha = 1.00
Features kept: 1, r-squared training: 0.65, r-squared test: 0.66

Alpha = 2.00
Features kept: 1, r-squared training: 0.55, r-squared test: 0.58

Alpha = 3.00
Features kept: 1, r-squared training: 0.39, r-squared test: 0.41

Alpha = 5.00
Features kept: 0, r-squared training: 0.00, r-squared test: -0.03

Alpha = 10.00
Features kept: 0, r-squared training: 0.00, r-squared test: -0.03

Alpha = 20.00
Features kept: 0, r-squared training: 0.00, r-squared test: -0.03

Alpha = 50.00
Features kept: 0, r-squared training: 0.00, r-squared test: -0.03

In [285]:
from sklearn.tree import DecisionTreeRegressor

dt_model = DecisionTreeRegressor()
dt_model.fit(scaled_data_price[[0]], scaled_data_price[[1]])

score = dt_model.score(scaled_data_price_test[[0]], scaled_data_price_test[[1]])
print('DecisioTree Regression 모델 R2: {0:.2f}'.format(score))

DecisioTree Regression 모델 R2: 0.47

In [286]:
for alpha in [1, 2, 3, 4, 5, 10, 20, 50]:
    dtr = DecisionTreeRegressor(max_depth = alpha).fit(train_data_price[['전세가격']], train_data_price[['매매가격']])
    r2_train = dtr.score(train_data_price[['전세가격']], train_data_price[['매매가격']])
    r2_test = dtr.score(test_data_price[['전세가격']], test_data_price[['매매가격']])
    
    print('Alpha = {:.2f}\nFeatures kept: {}, r-squared training: {:.2f}, \
r-squared test: {:.2f}\n'
         .format(alpha, np.sum(linlasso.coef_ != 0), r2_train, r2_test))

Alpha = 1.00
Features kept: 0, r-squared training: 0.75, r-squared test: 0.55

Alpha = 2.00
Features kept: 0, r-squared training: 0.88, r-squared test: 0.71

Alpha = 3.00
Features kept: 0, r-squared training: 0.90, r-squared test: 0.67

Alpha = 4.00
Features kept: 0, r-squared training: 0.91, r-squared test: 0.67

Alpha = 5.00
Features kept: 0, r-squared training: 0.93, r-squared test: 0.61

Alpha = 10.00
Features kept: 0, r-squared training: 1.00, r-squared test: 0.47

Alpha = 20.00
Features kept: 0, r-squared training: 1.00, r-squared test: 0.47

Alpha = 50.00
Features kept: 0, r-squared training: 1.00, r-squared test: 0.47

In [287]:
from sklearn.neighbors import KNeighborsRegressor

lr_model_3 = KNeighborsRegressor()
lr_model_2.fit(scaled_data_price[[0]], scaled_data_price[[1]])

score = lr_model_2.score(scaled_data_price_test[[0]], scaled_data_price_test[[1]])
print('KNeighbors Regression 모델 R2: {0:.2f}'.format(score))

KNeighbors Regression 모델 R2: 0.66

In [288]:
from sklearn.neighbors import KNeighborsRegressor

lr_model_3 = KNeighborsRegressor(n_neighbors  = 8)
lr_model_2.fit(train_data_price[['전세가격']], train_data_price[['매매가격']])

score = lr_model_2.score(test_data_price[['전세가격']], test_data_price[['매매가격']])
print('KNeighbors Regression 모델 R2: {0:.2f}'.format(score))

KNeighbors Regression 모델 R2: 0.66

In [295]:
%matplotlib notebook
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

fig, subaxes = plt.subplots(5, 1, figsize=(5,20))
for thisaxis, K in zip(subaxes, [8, 1]):
    knnreg = KNeighborsRegressor(n_neighbors = K).fit(train_data_price[['전세가격']], train_data_price[['매매가격']])
    #y_predict_output = knnreg.predict(X_predict_input)
    train_score = knnreg.score(train_data_price[['전세가격']], train_data_price[['매매가격']])
    test_score = knnreg.score(test_data_price[['전세가격']], test_data_price[['매매가격']])
    #thisaxis.plot(X_predict_input, y_predict_output)
    thisaxis.plot(train_data_price[['전세가격']], train_data_price[['매매가격']], 'o', alpha=0.9, label='Train')
    thisaxis.plot(test_data_price[['전세가격']], test_data_price[['매매가격']], '^', alpha=0.9, label='Test')
    thisaxis.set_xlabel('Input feature')
    thisaxis.set_ylabel('Target value')
    thisaxis.set_title('KNN Regression (K={})\n\
Train $R^2 = {:.3f}$,  Test $R^2 = {:.3f}$'
                      .format(K, train_score, test_score))
    thisaxis.legend()
plt.tight_layout(pad=0.4, w_pad=0.5, h_pad=1.0)

In [289]:
scaled_data_price

            0         1
0    0.056615  0.000000
1    0.000000  0.000950
2    0.024173  0.004008
3    0.055403  0.006727
4    0.062864  0.004879
..        ...       ...
98   0.957648  1.000000
99   0.974658  0.995281
100  0.988446  0.989443
101  0.997842  0.983912
102  1.000000  0.978691

[103 rows x 2 columns]

중간정리
1. 전세가율 - 매매가격 증감률 -> scaled_rate_price
-> X_test1, y_test1
2. 전세가격 - 매매가격 -> scaled_data_price
-> X_test2, y_test2
3. 전세가격 증감률 - 상승하락 -> train_data_price
-> X_test3, y_test3
4. 전세가율 - 상승하락  -> train_rate_price
-> X_test4, y_test4

In [290]:
scaled_rate_price[[0]]

            0
0    0.073035
1    0.055993
2    0.058950
3    0.062919
4    0.055544
..        ...
98   0.544438
99   0.538513
100  0.528651
101  0.518485
102  0.513466

[103 rows x 1 columns]

중간 결론 - time lag = 3month를 적용.
1. 부동산의 상승 하락을 예측 하기에는 전세가격 증감률보다는 전세가율이 더 중요한 영향을 미친다.
-> 여기서 5대 광역시의 KNN의 n = 8로 했을 때 무려 92%까지 나왔다. (극대점) 또한 서울보단 5대 광역시의 성능이 더욱 좋았고, (6대 광역시도 좋았다. 91%) 서울에서는 강북보다는 강남이 성능이 좋았지만, 5대 광역시와 서울의 차이가 10%정도 차이가 나듯, 눈에 띄었다. (Classification)
Classification에서는 StandardScaler을 적용해봤는데, scaling을 적용하기 전과 후가 아무런 차이가 없었다. 그냥 단순 분류가 아니여서 그러지 않을까 싶다..
2. 부동산의 가격 예측을 하기에는 전세 가격이 예측대로 강력했다. 회귀모델이기에 MinMaxScaler을 적용했다. 이것은 기존 논문에 있던 거 여서 놀랍지 않았다.(Regression - 전세가율의 Regrssion 성능은 0%에 수렴하거나 -가 날 정도로 처참했다.)

단변량만 해봤기에 다변량도 시도는 해 볼 것이다.
주택의 유형을 바꾸어 다세대주택, 단독주택 등. 유형별의 차이를 살펴볼 것이다.
polynomial regression을 적용하여 성능 개선 여부를 확인해 볼 것이다.

In [291]:
print(left1, left2, left3)

0.7804878048780488 0.8536585365853658 0.926829268292683

In [292]:
import seaborn as sns
import pandas as pd
import matplotlib

In [293]:
result_data_price

                 전세가격        매매가격
시점
2012.01 월   97.286045   86.461284
2012.02 월   97.319546   86.478247
2012.03 월   97.103924   86.493940
2012.04 월   97.195990   86.544466
2012.05 월   97.294664   86.554535
...               ...         ...
2022.05 월  100.751198  102.999343
2022.06 월  100.815985  102.921383
2022.07 월  100.868495  102.824926
2022.08 월  100.904282  102.733558
2022.09 월  100.912500  102.647297

[129 rows x 2 columns]

In [294]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore") # 경고메세지 무시
sns.regplot(x = result_data_price['전세가격'], y = result_data_price['매매가격'])
plt.show(sns)

TypeError: ignored

In [ ]:
ax3 = plt.subplots()
ax3 = sns.regplot(x='전세가격',y='매매가격',data=result_data_price, fit_reg=True) #회귀선 제거 시 fig_reg=False
ax3.set_title('Regression')
ax3.set_xlabel('전세가격')
ax3.set_ylabel('매매가격')
plt.show()